<mat-sidenav-container>
    <mat-sidenav class="sidenav container" mode="side" opened fixedInViewport="true" fixedTopGap="64"> 
        <mat-nav-list class="nav-list">
            <a class="mat-list-item" routerLink="/">
                <i class="material-icons">
                    history
                </i>
                Histórico Combustível
            </a>
            <a class="mat-list-item" routerLink="/distribuidora">
                <i class="material-icons">
                    local_shipping
                </i>
                Distribuidora
            </a>
            <a class="mat-list-item" routerLink="/compra-venda">
                <i class="material-icons">
                    inventory
                </i>
                Compra e Venda
            </a>
            <a class="mat-list-item" routerLink="/municipio">
                <i class="material-icons">
                    room
                </i>
                Municipio
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
