.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.footer i{
    margin-right: 5px;
}

.footer > span{
    font-weight: 300;
    font-size: 1.1rem;
}

@media (max-width: 700px){
    .footer {
        justify-content: center;
    }

    .footer span{
        font-size: 12px;
    }
}