<mat-card>
    <mat-card-title>
        Apagar Registro
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome Combustível" 
            [(ngModel)]="historico.combustivel" name="nomeCombustivel" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data"  
            [(ngModel)]="historico.data" name="data" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" 
            [(ngModel)]="historico.preco" name="preço" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button color='primary' (click)='deleteHistorico()'>
        Apagar
    </button>

    <button mat-raised-button (click)='cancelar()'>
        Cancelar
    </button>
</mat-card>
