<div class="mat-elevation-z4 cont-1">
    <table mat-table [dataSource]="historico">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name combustivel Column -->
      <ng-container matColumnDef="combustivel">
        <th mat-header-cell *matHeaderCellDef>combustivel</th>
        <td mat-cell *matCellDef="let row">{{row.combustivel}}</td>
      </ng-container>

      <!-- Data Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>data</th>
        <td mat-cell *matCellDef="let row">{{row.data}}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef>preco</th>
        <td mat-cell *matCellDef="let row">{{row.preco | currency: 'BRL'}}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
            <a routerLink="atualizar/{{row.id}}" class="edit">
                <i class="material-icons">
                    edit
                </i>
            </a>
            <a routerLink="deletar/{{row.id}}" class="delete">
                <i class="material-icons">
                    delete
                </i>
            </a>

        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>
