
.header{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-right: 10px;
}

.header i{
    margin-right: 5px;
}

.header .logo{
    max-height: 50px;
}

.header .title-group{
    padding-left: 25px;
    display: flex;
    align-items: center;
}

.header .title-group i{
    padding-right: 15px;
}

.menu{
    display: none;
}


@media (max-width:700px){
    .header .logo{
        max-height: 32px;
    }

    .header a{
        font-size: 14px;
    }

    .header .logo{
        position: absolute;
        right: 20px;
    }

    .menu{
        display: flex;
        cursor: pointer;
        margin-right: 10px;
    }
}


@media (max-width: 320px){
    .header a{
        font-size: 12px;
    }
}