<mat-toolbar class="mat-elevation-z3 header">
    <span>
        <a>
            <img class="logo" src="assets/img/angular.svg" alt="logo">
        </a>
    </span>
    <span class="menu" (click)='ativarMenu()'>
        <i class="material-icons">
            {{icon_bars}}
        </i>
    </span>
    <a routerLink="{{ routeUrl }}">
        <i class="material-icons">
            {{icon}}
        </i>
        {{ title }}
    </a>
</mat-toolbar>