<mat-card>
    <mat-card-title>
        Novo Registro
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome Combustível" 
            [(ngModel)]="historico.combustivel" name="nomeCombustivel">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data" type="date" 
            [(ngModel)]="historico.data" name="data">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" 
            [(ngModel)]="historico.preco" name="preço">
        </mat-form-field>
    </form>
    <button mat-raised-button color='primary' (click)='criarRegistro()'>
        Salvar
    </button>

    <button mat-raised-button (click)='cancelar()'>
        Cancelar
    </button>
</mat-card>
